/* Css - Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Variablen / Color */
:root {
  --Color1: #0d1f2d;
  --Color2: #546a7b;
  --Color3: #9ea3b0;
  --Color4: #fae1df;
  --Color5: #e4c3ad;
  --black: #040c13;
}

/* Fonts */
@font-face {
  font-family: Mallana;
  src: url("./Source/Fonts/Mallanna-Regular.ttf") format("truetype");
}
@font-face {
  font-family: Marker;
  src: url("./Source/Fonts/PermanentMarker-Regular.ttf") format("truetype");
}
@font-face {
  font-family: HindMadurai;
  src: url("./Source/Fonts/HindMadurai-Regular.ttf") format("truetype");
}

/* Typescaling */
h1 {
  font-size: 2.027rem;
  font-family: Marker;
}
h2 {
  font-size: 1.802rem;
  font-family: Marker;
}
h3 {
  font-size: 1.602rem;
}
h4 {
  font-size: 1.424rem;
}
h5 {
  font-size: 1.266rem;
  font-weight: 400;
}
h6 {
  font-size: 1.125rem;
}
p {
  font-size: 1rem;
}
small {
  font-size: 0.889rem;
}

/* Body */
body {
  background-color: var(--Color1);
  font-family: Mallana;
}

/* Header - Bereich */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  gap: 2rem;
  .profile-img-container {
    border: 3px solid --Color2;
  }
  .text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.125;
    h1 {
      color: var(--Color4);
      margin-bottom: 1rem;
    }
    p {
      text-align: left;
      color: var(--Color3);
    }
  }
  .icon-container {
    display: flex;
    gap: 2rem;
  }
  a {
    &:hover {
      transform: scale(1.1);
      border-bottom: 3px solid var(--Color2);
    }
  }
}

/* Main - Bereich */
.video-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  padding: 3rem;
  color: var(--Color3);
  .text-container {
    .h2 {
      font-size: 1.802rem;
      color: var(--Color4);
      font-family: Marker;
      margin-left: 0.2rem;
      margin-right: 0.2rem;
    }
  }
  .video-container {
    width: 100%;
    video {
      width: 100%;
    }
  }
}

/* Link - Section */
.link-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 4rem 4rem 8rem 4rem;
  gap: 2rem;
  .link-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    a {
      text-decoration: none;
    }
   
  }
  .link1 {
    background-color: var(--Color3);
    color: var(--Color1);
    padding: 2rem;
    width: 100%;
    border-radius: 1.25rem;
    &:hover {
      transform: scale(1.1);
    }
  }
  .link2 {
    background-color: var(--Color3);
    color: var(--Color1);
    padding: 2rem;
    width: 90%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1.25rem;
    &:hover {
      transform: scale(1.1);
    }
  }
  .link3 {
    background-color: var(--Color3);
    color: var(--Color1);
    padding: 2rem;
    width: 100%;
    border-radius: 1.25rem;
    &:hover {
      transform: scale(1.1);
    }
  }
  .link4 {
    background-color: var(--Color3);
    color: var(--Color1);
    padding: 2rem;
    width: 100%;
    border-radius: 1.25rem;
    &:hover {
      transform: scale(1.1);
    }
  }
}

/* Footer - Section */
.footer-section {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 2rem 2rem;
  gap: .5rem;
  .link-container {
    display: flex;
    justify-content: space-between;
    .links {
      display: flex;
      gap: 1rem;
      a {
        color: var(--Color2);
        text-decoration: none;
      }
    }
  }
  .text-container {
    color: var(--Color2);
  }
}

/* Madia Queries */
.container {
  /* width: 95%; */
  padding-left: 0.938rem;
  padding-right: 0.938rem;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 360px) {
  .hero-section {
    width: 100%;
    padding: 2rem 0rem 2rem 0rem;
  }
  .video-section {
    padding: 3rem 0rem 3rem 0rem;
  }
  .link-section {
    padding: 4rem 2rem 8rem 2rem;
  }
}

@media (min-width: 576px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .container {
    width: 75%;
  }
  html {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  html {
    font-size: 1.125rem;
  }
  .container {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 50%;
  }
  html {
    font-size: 1.15rem;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 45%;
  }
  html {
    font-size: 1.2rem;
  }
}
@media (min-width: 1920px) {
  .container {
    width: 60%;
  }
  html {
    font-size: 1.3rem;
  }
}
